/*  id გამოიყენება ერთი კონკრეტული ელემენტის შესარჩევად CSS-ში ID-ს წინ იწერება # მაგ: */

#andro {

    color: aqua;
    font-size: 6px;
}

/* class გამოიყენება ერთი ან რამდენიმე ელემენტის შესარჩევად CSS-ში class-ს წინ იწერება .  მაგ: */

.ordan {
    color: blue;
    font-size: 20px;
}