/* inline ნიშნავს რომ CSS-ს პირდაპირ HTML თეგში ვწერთ style ატრიბუტის გამოყენებით */
/* internal ნიშნავს რომ CSS-ს ვწერთ იმავე HTML ფაილში <style> თეგის შიგნით */
/* external ნიშნავს რომ CSS-ს ვწერთ ცალკე .css ფაილში. */
h1 {
    color: blue;
}
/* სელექტორები  გვეხმარება რომ HTML-ის კონკრეტული ელემენტები ავირჩიოთ და მათზე სტილები გამოვიყენოთ */
#sir {
    color: blue;
    font-size: 30px;
}
.burger {
    color: green;
    font-size: 20px;
}