h1 {
    color: blue;
    font-size: 30px;
}
/* CSS Rule CSS-ის სრული ინსტრუქცია რომელიც განსაზღვრავს როგორ უნდა გამოიყურებოდეს HTML ელემენტი
Selector განსაზღვრავს რომელ HTML ელემენტზე უნდა გავრცელდეს CSS წესი
Declaration შედგება property-ისა და value-სგან და განსაზღვრავს, რა თვისება და მნიშვნელობა უნდა ჰქონდეს ელემენტს მაგ: */
p {
  color: blue;
}
/* ერთი .css ფაილი შეგიძლია გამოიყენო ბევრ HTML გვერდზე
 HTML-ში აღარ გიწევს ბევრი style ატრიბუტის ჩაწერა
 თუ ფერის ზომის ან სხვა სტილის შეცვლა გინდა ერთ CSS ფაილში ცვლი და ცვლილება ყველა დაკავშირებულ გვერდზე აისახება */