/* rgb არის red green და blue */
/* თითოეული ფერი წარმოდგენილია რიცხვით 0-დან 255-მდე ამ სამი ფერის სხვადასხვა რაოდენობის შერევით მიიღება სხვა ფერები */
/* 255, 0, 0 —  წითელი
0, 255, 0 —  მწვანე
0, 0, 255 —  ლურჯი */
/* HEX არის ფერის ჩაწერის თექვსმეტობითი ფორმატი. ის იწყება სიმბოლოთი # და შედგება 6 სიმბოლოსგან. */
/* #FF0000 - წითელი
#00FF00 - მწვანე
#0000FF - ლურჯი
    */

/* :nth-child() გამოიყენება მშობელი ელემენტის შვილებიდან კონკრეტული რიგითი ნომრის მქონე ელემენტის შესარჩევად */
td:nth-child(2) {
border-collapse: collapse;
color: red;
}
