/* განსაზღვრავს ზომას კონკრეტული რაოდენობის პიქსელებში და ჩვეულებრივ არ არის დამოკიდებული მშობელი ელემენტის ზომაზე */
/* ზომას განსაზღვრავს მშობელი ელემენტის ზომის გარკვეული პროცენტის მიხედვით */
.andro1 {
  width: 200px;
  background-color: aqua;
}

.andro2 {
  width: 50%;
  background-color: yellow;
}
